<div class="home-inicio">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.postimg.cc/Y2xpXjNL/6403b4ba0e895908bf9e3ef7fadd37a7.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="slide-text">Tranformers: O despertar das Feras</h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/Y2xpXjNL/6403b4ba0e895908bf9e3ef7fadd37a7.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="slide-text">Tranformers: O despertar das Feras</h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/Y2xpXjNL/6403b4ba0e895908bf9e3ef7fadd37a7.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="slide-text">Tranformers: O despertar das Feras</h5>
          <p></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="list-group">
    <h5 id="em-alta">Em Alta</h5>
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">O Dêmonio dos Mares</h5>
      </div>
      <p class="mb-1" style="color: #919191;">Ficção científica e suspense dirigido por
        Adrian Grunberg</p>

    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">A Pequena Sereia</h5>
      </div>
      <p class="mb-1" style="color: #919191;" >traz mais uma aventura épica pelo universo dos Transformers</p>

    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Boogeyman</h5>
      </div>
      <p class="mb-1" style="color: #919191;">Seu Medo é Real, um filme de terror baseado no conto The Boogeyman, de Stephen King</p>
    </a>
    <h5 id="mais-home">Mais ></h5>
  </div>
</div>

<h5 class="txt-assitir"><strong>O que Assistir</strong></h5>
<div id="carouselAssistir" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/20/10/06/18/20/0630056.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mortal</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/23/04/27/15/20/2468619.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Transformers: O Despertar das Feras</h5>
          <p class="card-text"></p>
        </div>
        <button type="button" class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></button>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img2.acsta.net/c_310_420/pictures/23/05/17/22/43/4869322.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Homem Aranha: Através do Aranhaverso</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/23/03/13/13/40/3177161.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">A Pequena Sereia</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img2.acsta.net/c_310_420/pictures/23/05/04/20/29/2513856.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BOOGEYMAN: Seu Medo é Real</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/23/05/25/17/25/4144427.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">O Demônio dos Mares</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></a>
      </div>
    </div>


  </div>



  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<h5 class="txt-assitir"><strong>Melhor Avaliados</strong></h5>
<div id="carouselAssistir" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/medias/nmedia/18/90/93/20/20120876.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">O Poderoso Chefão</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/19/04/10/19/44/2904073.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">A Lista de Schindler</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/21/01/04/12/12/0170975.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cobra Kai</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/serie']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/22/05/30/15/56/1469166.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">House of Dragons</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/serie']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/medias/nmedia/18/90/16/48/20083748.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Um Sonho de Liberdade</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/23/04/03/19/45/2854005.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Super Mario Bros. - O Filme</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></a>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<h5 class="txt-assitir"><strong>Ação</strong></h5>
<div id="carouselAssistir" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/23/03/03/15/26/5677818.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fubar</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/serie']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/14/03/31/19/28/462555.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Breaking Bad</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/serie']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/23/05/16/22/53/0156803.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Velozes & Furiosos 10</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img2.acsta.net/c_310_420/pictures/23/05/17/22/43/4869322.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Homem Aranha: Através do Aranhaverso</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/23/04/25/20/10/1515852.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Guardiões ds Galáxia vol.3</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/filme']"><strong>Ver Mais</strong></a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://br.web.img3.acsta.net/c_310_420/pictures/23/03/06/16/53/1415238.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Citadel</h5>
          <p class="card-text"></p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/serie']"><strong>Ver Mais</strong></a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

