<div class="container-obra-geral">
  <div class="obra-inicio">
    <div class="nome-nota">
    <div class="nome-obra">
      <h5 class="nome-obra-texto">Velozes & Furiosos 10</h5>
      <small class="posicao-texto">2°</small>
    </div>
    <div class="nota-obra">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <H5 class="nota-obra-texto">4,8</H5>
      <button id="btn-avaliar" class="btn btn-primary">Avaliar</button>
    </div>
  </div>



  <div class="container-info-obra">
    <div class="container-img-info">
      <div>
        <img class="img-obra" src="https://br.web.img3.acsta.net/c_310_420/pictures/14/03/31/19/28/462555.jpg">
      </div>
      <div class="info-obra">
        <p><strong>Lançamento: </strong>2008 - 2013</p>
        <p><strong>Gênero: </strong>Drama</p>
        <p><strong>Elenco: </strong>Bryan Cranston, Anna Gunn, Aaron Paul</p>
        <button id="btn-adicionar" class="btn btn-primary">Adicionar a Lista de Favoritos</button>
      </div>
    </div>
    <div class="ad-info-obra">
      <p>ad</p>
    </div>
  </div>


  <p>
    <a id="btn-sinopse" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Sinopse v
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body sinopse-text">
      Walter White (Bryan Cranston) é um professor de química na casa dos 50 anos que trabalha em uma escola secundária no Novo México. Para atender às necessidades de Skyler (Anna Gunn), sua esposa grávida, e Walt Junior (RJ Mitte), seu filho deficiente físico, ele tem que trabalhar duplamente. Sua vida fica ainda mais complicada quando descobre que está sofrendo de um câncer de pulmão incurável. Para aumentar rapidamente a quantidade de dinheiro que deixaria para sua família após sua morte, Walter usa seu conhecimento de química para fazer e vender metanfetamina, uma droga sintética. Ele conta com a ajuda do ex-aluno e pequeno traficante Jesse (Aaron Paul) e enfrenta vários desafios, incluindo o fato de seu concunhado ser um importante nome dentro da Agência Anti-Drogas da região.
    </div>
  </div>


  <h5 class="txt-assitir"><strong>Episódios</strong></h5>
  <div id="carouselAssistir" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card ep" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Episódio 1: Pilot</h5>
            <p class="card-text"></p>
          </div>
          <a href="#"  class="btn btn-primary btn-card"><strong>Ver Mais</strong></a>
        </div>
        <div class="card ep" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Episódio 2: Cat's in the Bag</h5>
            <p class="card-text"></p>
          </div>
          <button type="button" class="btn btn-primary btn-card"  ><strong>Ver Mais</strong></button>
        </div>
        <div class="card ep" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Episódio 3:  ...And The Bag's In The River</h5>
            <p class="card-text"></p>
          </div>
          <a href="#" class="btn btn-primary btn-card"><strong>Ver Mais</strong></a>
        </div>
        <div class="card ep" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Episódio 4: Cancer Man</h5>
            <p class="card-text"></p>
          </div>
          <a href="#" class="btn btn-primary btn-card"><strong>Ver Mais</strong></a>
        </div>
        <div class="card ep" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Episódio 5: Gray Matter</h5>
            <p class="card-text"></p>
          </div>
          <a href="#" class="btn btn-primary btn-card"><strong>Ver Mais</strong></a>
        </div>
        <div class="card ep" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Episódio 6: Crazy Handful of Nothin'</h5>
            <p class="card-text"></p>
          </div>
          <a href="#" class="btn btn-primary btn-card"><strong>Ver Mais</strong></a>
        </div>
      </div>
    </div>



    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <script src="https://utteranc.es/client.js"
        repo="Felipe-Marins/chat"
        issue-term="pathname"
        label="Comentário Filmtec"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>


</div>


