<div class="container-obra-geral">
  <div class="obra-inicio">
    <div class="nome-nota">
    <div class="nome-obra">
      <h5 class="nome-obra-texto">Velozes & Furiosos 10</h5>
      <small class="posicao-texto">71°</small>
    </div>
    <div class="nota-obra">
      <i class="fa-solid fa-star" id="star1"></i>
      <i class="fa-solid fa-star" id="star2"></i>
      <i class="fa-solid fa-star" id="star3"></i>
      <i class="fa-solid fa-star" id="star4"></i>
      <i class="fa-solid fa-star" id="star5"></i>
      <H5 class="nota-obra-texto">4,0</H5>
      <button id="btn-avaliar" class="btn btn-primary">Avaliar</button>
    </div>
  </div>



  <div class="container-info-obra">
    <div class="container-img-info">
      <div>
        <img class="img-obra" src="https://br.web.img3.acsta.net/c_310_420/pictures/23/05/16/22/53/0156803.jpg">
      </div>
      <div class="info-obra">
        <p><strong>Lançamento: </strong>18 de maio de 2023</p>
        <p><strong>duração: </strong>2h 21 min</p>
        <p><strong>Gênero: </strong>Ação</p>
        <p><strong>Elenco: </strong>Vin Diesel, Michelle Rodriguez, Jason Momoa</p>
        <button id="btn-adicionar" class="btn btn-primary">Adicionar a Lista de Favoritos</button>
      </div>
    </div>
    <div class="ad-info-obra">
      <p>ad</p>
    </div>
  </div>

  <p>
    <a id="btn-sinopse" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Sinopse v
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      No décimo filme da série Velozes & Furiosos e último da nova trilogia (Velozes 8, 9 e 10),
      ao longo de muitas missões e contra probabilidades que pareciam impossíveis, Dom Toretto (Vin Diesel)
      e sua família foram mais espertos e superaram todos os inimigos em seu caminho.
      Agora, eles devem desafiar o adversário mais letal que já enfrentaram. Alimentada pela vingança,
      uma ameaça terrível emerge das sombras do passado na forma de Dante (Jason Momoa),
      para destruir o mundo de Toretto e destruir tudo - e todos - que ele ama. Ele então,
      comandando novamente a equipe de corredores mais conhecida do mundo, encara mais uma difícil missão sobre quatro rodas.
      O fim da estrada começa e Velozes & Furiosos 10 lança os capítulos finais de uma das franquias globais mais famosas e populares do cinema,
      agora em sua terceira década e ainda forte com o mesmo elenco e personagens centrais de quando começou.
    </div>
  </div>


</div>
<h5 class="trailer-text">Velozes & Furiosos 10 Trailer Original</h5>
  <iframe class="trailer" src="https://www.youtube.com/embed/ByGA7aWSxW4" frameborder="0"></iframe>

