<div id="container-ranking">
  <table class="table">
    <tr id="ranking-text"><Strong>Ranking</Strong></tr>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>
          <img src="https://br.web.img3.acsta.net/c_310_420/medias/nmedia/18/90/93/20/20120876.jpg" class="img-fluid">
          <div>
            <h5>O Poderoso Chefão</h5>
            <p class="sinopse"> Don Vito Corleone (Marlon Brando) é o chefe de uma "família" de Nova York que está feliz, pois Connie (Talia Shire), sua filha, se casou com Carlo (Gianni Russo). Porém, durante a festa, Bonasera (Salvatore Corsitto) é visto no escritório de Don Corleone pedindo "justiça", vingança na verdade contra membros de uma quadrilha, que espancaram...</p>
            <button type="button" class="btn btn-outline-primary">Ver Mais</button>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
          <img src="https://br.web.img3.acsta.net/c_310_420/pictures/19/04/10/19/44/2904073.jpg" class="img-fluid">
          <div>
            <h5>A Lista de Schindler</h5>
            <p class="sinopse"> A inusitada história de Oskar Schindler (Liam Neeson), um sujeito oportunista, sedutor, "armador", simpático, comerciante no mercado negro, mas, acima de tudo, um homem que se relacionava muito bem com o regime nazista, tanto que era membro do próprio Partido Nazista (o que não o impediu de ser preso algumas vezes, mas sempre o libertavam...</p>
            <button type="button" class="btn btn-outline-primary">Ver Mais</button>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td >
          <img src="https://br.web.img3.acsta.net/c_310_420/medias/nmedia/18/90/16/48/20083748.jpg" class="img-fluid">
          <div>
            <h5>Um Sonho de Liberdade</h5>
            <p class="sinopse"> Em 1946, Andy Dufresne (Tim Robbins), um jovem e bem sucedido banqueiro, tem a sua vida radicalmente modificada ao ser condenado por um crime que nunca cometeu, o homicídio de sua esposa e do amante dela. Ele é mandado para uma prisão que é o pesadelo de qualquer detento, a Penitenciária Estadual de Shawshank, no Maine. Lá ele irá cumprir a...</p>
            <button type="button" class="btn btn-outline-primary">Ver Mais</button>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td >
          <img src="https://br.web.img3.acsta.net/c_310_420/medias/nmedia/18/87/30/21/19874092.jpg" class="img-fluid">
          <div>
            <h5>Forrest Gump - O Contador de Histórias</h5>
            <p class="sinopse">Quarenta anos da história dos Estados Unidos, vistos pelos olhos de Forrest Gump (Tom Hanks), um rapaz com QI abaixo da média e boas intenções. Por obra do acaso, ele consegue participar de momentos cruciais, como a Guerra do Vietnã e Watergate, mas continua pensando no seu amor de infância, Jenny Curran.</p>
            <button type="button" class="btn btn-outline-primary">Ver Mais</button>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td >
          <img src="https://br.web.img3.acsta.net/c_310_420/medias/nmedia/18/87/84/28/19962110.jpg" class="img-fluid">
          <div>
            <h5>O Rei Leão</h5>
            <p class="sinopse">Simba, um leão herdeiro do trono, precisará enfrentar seu tio Scar e escapar de suas artimanhas para evitar perder seu posto como futuro rei.</p>
            <button type="button" class="btn btn-outline-primary">Ver Mais</button>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td >
          <img src="https://br.web.img3.acsta.net/c_310_420/medias/nmedia/18/92/91/47/20224867.jpg" class="img-fluid">
          <div>
            <h5>O Senhor dos Anéis - O Retorno do Rei</h5>
            <p class="sinopse">Sauron planeja um grande ataque a Minas Tirith, capital de Gondor, o que faz com que Gandalf (Ian McKellen) e Pippin (Billy Boyd) partam para o local na intenção de ajudar a resistência. Um exército é reunido por Theoden (Bernard Hill) em Rohan, em mais uma tentativa de deter as forças de Sauron. Enquanto isso Frodo (Elijah Wood), Sam (Sean Astin) e Gollum (Andy Serkins) seguem sua viagem rumo à Montanha da Perdição, para destruir o Um Anel.</p>
            <button type="button" class="btn btn-outline-primary">Ver Mais</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example" class="paginacao">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

</div>
